html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
}

.wrapper {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

h1 {
  font-size: 4rem;
  text-align: center;
}

ul {
  list-style: none;
}

li {
  /* border: 1px dotted black; */
  padding: 2rem;
  min-height: 100px;
}

.header {
  display: flex;
  justify-content: center;
}

.mainForm {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.goalContainer {
  /* border: 5px solid red; */
  /* border-radius: 40px; */
  min-height: 100px;
}

.completed {
  border: 1px solid red;
}

.hide {
  display: none;
}

.unhide {
  display: inline-block;
}
