html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}@import url('https://fonts.googleapis.com/css2?family=Lato&family=Manrope:wght@800&display=swap');

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: 'Lato', sans-serif;
}

.wrapper {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

main {
  display: flex;
  justify-content: center;
}

header {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 4rem;
  font-family: 'Manrope', sans-serif;
}

ul {
  list-style: none;
  /* to prevent default padding */
  padding: 0;
}

li {
  background: rgba(248, 249, 249, 0.8);
  border-radius: 40px;
  padding: 2rem 3rem;
  margin: 3rem;
  min-height: 100px;
  min-width: 380px;
}

footer {
  padding-top: 4rem;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-self: flex-end;
  color: black;
}

input {
  border: 2px solid black;
  padding: 1rem;
}

button {
  border: 3px solid rgba(0, 0, 0, 1);
  border-radius: 20px;
  background: rgba(39, 146, 214, 0.5);
  margin: 0 2rem;
  padding: 1rem;
  text-transform: uppercase;
  font-size: 1.2rem;
}

button:hover,
button:focus {
  color:rgba(248, 249, 249, 0.9);
  background: black;
  cursor: pointer;
}

.instructions,
.mainForm {
  background-color: rgba(221, 206, 226, 0.8);
  border-radius: 20px;
}

.instructions,
.mainForm {
  max-width: 400px;
  left: 0;
}


.instructions {
  padding: 2rem;
  position: sticky;
  top: 3rem;
}

.instructions:nth-of-type(2) {
  top: 19rem;
}

.mainForm {
  position: sticky;
  top: 33rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 2rem;
  max-width: 1000px;
}

.addGoal {
  margin-top: 1.5rem;
}

.goalContainer {
  display: flex;
  align-self: flex-end;
  border-radius: 20px;
  min-height: 100px;
  background-image: url(../assets/bleak.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 2rem;
}

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  min-width: 380px;
  background:rgba(221, 206, 226, 0.8);
}

.completed,
.uncompleted {
  background: rgba(248, 249, 249, 0.9);
  border-radius: 20px;
  padding: 2rem 3rem;
  margin: 3rem;
  min-height: 100px;
  min-width: 380px;
}

.completed {
  border: 1px solid red;
}

.hide {
  display: none;
}

.unhide {
  display: inline-block;
}

.activityFormContainer {
  background: rgba(221, 206, 226, 0.8);
  border-radius: 20px;
  padding: 2rem 2rem;
  margin: 1rem;
}

.activityForm {
  display: flex;
}